* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 2.6rem;
  background-color: hsl(233, 47%, 7%);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  width: 100%;
  object-fit: cover;
}

.card {
  display: flex;
  max-width: 114rem;
  margin: 0 auto;
  border-radius: 0.8rem;
  overflow: hidden;
}

.card > * {
  flex-basis: 50%;
}

/* text div */

.text {
  display: flex;
  flex-direction: column;
  padding: 6.4rem 10.4rem;
  background-color: hsl(244, 38%, 16%);
}

.text h2 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.3rem;
  margin-bottom: 3rem;
}

.color {
  color: hsl(277, 64%, 61%);
}

.text p {
  font-weight: 500;
  line-height: 2.5rem;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 7rem;
}

.stats {
  display: flex;
  align-items: center;
  gap: 6.5rem;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.rate {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
}

.small {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.75);
}

/* image div */

.image {
  /* position: relative; */
  background-image: linear-gradient(
      hsla(277, 64%, 61%, 0.5),
      hsl(277, 64%, 61%, 0.5)
    ),
    url("./images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image img {
  display: block;
}

/* .image::after {
  content: "";
  display: block;
  background-color: hsl(277, 64%, 61%);
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */
